[Unit]
Description=Monark ANT bridge
After=bluetooth.service brcm43438.service dbus-session@root.service
Requires=bluetooth.service brcm43438.service dbus-session@root.service
StartLimitInterval=1000
StartLimitBurst=10

[Service]
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/root/dbus/user_bus_socket
Type=simple
ExecStartPre=/usr/bin/hciconfig hci0 up
ExecStart=/usr/bin/Monark-ANT -platform eglfs
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
